.flex-wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.boxContainer {
    background-color: #28272F;
    display: flex;
    justify-content: right;
    border-radius: 25px;
    max-width: 500px;
    margin: 50px auto;
    border: 1px solid rgb(102, 113, 116)
}

.boxItem {
    flex: 1;
    margin: auto;
    height: auto;
}

.boxInput {
    background-color: #37363E;
    border: none;
    outline: 0;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    width: 100%;
    margin: auto auto 20px auto;
}

.dateInput {
    min-width: 270px;
}

.inputText {
    color: rgb(255, 255, 255);
    font-size: 15pt;
}

.invalid {
    border: 1px solid tomato;
}
