.tituloForm {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    text-align: center;
    color:#ffffff;
    font-size: 30pt;
    margin-top: 35px;
}

.boxText {
    font-family: 'Nunito', sans-serif;
    color:#FFFFFF;
    font-size: 20pt;
    margin: 10px auto 5px auto;
}

.mensagemDeLink {
    font-family: 'Nunito', sans-serif;
    color:#FFFFFF;
    font-size: 13pt;
}

.linkLoginRegistro {
    color: rgb(22, 143, 223);
    text-decoration: none;
}

.invalidText {
    color: rgb(255, 99, 71);
}