.PainelInicio {
    background-image: linear-gradient(to right, rgb(115, 26, 187), rgb(141, 228, 255));
    padding: 50px 30px 50px 10px;
    display: flex;
}

.flex1 {
    flex: 1;
}
.homeButton {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 10px;
    margin-right: 10px;
}

.homeButton:hover {
    background-color: rgba(0, 0, 0, 0.116);
    cursor: pointer;
}
